/* .projectForm {
    display: table-caption;
    align-items: center;
} */

/* .forms {
    text-align: -webkit-center;
} */


.projects {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    flex-grow: 1;
}
h5 {
    display: flex;
    justify-content: center;
    font-family: 'Special Elite', cursive;
    font-style: italic;
}
.card-img-top {
    width: 100%;
}
.card {
    background-image: linear-gradient(to top, rgb(75, 63, 82),whitesmoke);
    border-style: solid;
    flex-grow: 1;
    max-width: 15em;
    min-width: 15em;
}

.card-link:hover {
    color: burlywood;
    motion-rotation: 360deg;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

h4 {
    display: flex;
    justify-content: center;
    font-family: 'Special Elite', cursive;
    /* background-color: burlywood; */
    border-style: solid;
    border-color: rgb(44, 38, 38);
}

h1, h2 {
    display: flex;
    justify-content: center;
    font-family: 'Special Elite', cursive;
    text-shadow: 2px 2px darkgray;
}

h3 {
    display: flex;
    justify-content: center;
    font-family: 'Special Elite', cursive;
    font-style: italic;
    background-color: burlywood;
    border-style: solid;
    border-color: rgb(44, 38, 38);
}

.nav-link {
    background-color: burlywood;
    font-family: 'Special Elite', cursive;
    border-style: solid;
    border-color: rgb(44, 38, 38);
}
p {
    display: flex;
    justify-content: center;
    /* font-family: 'Special Elite', cursive; */
    /* font-style: italic; */
}

.projectButton {
    display: flex;
    justify-content: space-evenly;
    margin: 0 0 10px 0;
}

.button {
    display: flex;
    justify-content: center;
}

/* .logoutButton:hover {
    color: burlywood;
} */

