.projectForm {
    display: table-caption;
}

.forms {
    text-align: -webkit-center;
}


.projects {
    display: flex;
    justify-content: space-evenly;
}
h5 {
    display: flex;
    justify-content: center;
    font-family: 'Special Elite', cursive;
    font-style: italic;
}
.card-img-top {
    width: 100%;
}
.card {
    /* width: 10rem; */
    background-image: linear-gradient(to top, rgb(75, 63, 82),whitesmoke);
    border-style: solid;
}

.card-title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

h4 {
    display: flex;
    justify-content: center;
    font-family: 'Special Elite', cursive;
    background-color: burlywood;
}
h1, h2, h3 {
    display: flex;
    justify-content: center;
    font-family: 'Special Elite', cursive;
}

.nav-link {
    background-color: burlywood;
    font-family: 'Special Elite', cursive;
}
p {
    display: flex;
    justify-content: center;
    font-family: 'Special Elite', cursive;
    font-style: italic;
}
.card-link {
    margin: 12px 0 0 0;
    font-size: 0.7em;
}

.projectButton {
    display: flex;
    justify-content: space-evenly;
    margin: 0 0 10px 0;
}

