.crewMembers {
    display: flex;
    justify-content: space-evenly;
}


.card {
    background-color: darkgray;
    width: 10rem;
}

h2 {
    display: flex;
    justify-content: center;
}

.card-title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.card-link {
    margin: 12px 0 0 0;
    font-size: 0.7em;
}

.crewMemberButton {
    display: flex;
    justify-content: space-evenly;
    margin: 0 0 10px 0;
}